@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.wrapper {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.toolbar {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6em;
  background-color: #751bb6;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.title {
  margin-left: 20px;
}
.main {
  width: 100%;
  min-height: calc(100vh - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer {
  width: 100%;
  height: 128px;
  background-color: #751bb6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.1em;
  box-shadow: inside 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.board-wrapper {
  width: 70vh;
  height: 70vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 1px solid white;
}

.square {
  background-color: transparent;
  border: none;
  outline: 1px solid gray;
  font-size: 8em;
  font-family: "Varela Round";
}

.end {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over {
  font-size: 40px;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.play-again {
  border: none;
  background-color: #F44336;
  color: white;
  padding: 9px 20px;
  border-radius: 6px;
  outline: none;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.data-lr {
  width: 200px;
}

.data-lr.l {
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.data-lr.r {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}